td > div {
    width: 10rem;
    height: 10rem;
}

table {
    border-spacing: 0;
}

table,
th,
td {
    border: none;
}

.Light_Square {
    background-color: hsl(300, 24%, 80%);
}

.Dark_Square {
    background-color: hsl(120, 100%, 25%);
}
