.light-square,
.dark-square {
    width: 10rem;
    height: 10rem;
}

table {
    border-spacing: 0;
}

table,
th,
td {
    border: none;
}

.light-square {
    background-color: hsl(300, 24%, 80%);
}

.dark-square {
    background-color: hsl(120, 100%, 25%);
}
