<div id="Board">
    <table>
        <tr>
            <td>
                <div id="a8" class="Light_Square" (click)="clickSquare('a8')"></div>
            </td>
            <td>
                <div id="b8" class="Dark_Square" (click)="clickSquare('clicked!')"></div>
            </td>
            <td>
                <div id="c8" class="Light_Square" (click)="clickSquare('clicked!')"></div>
            </td>
            <td>
                <div id="d8" class="Dark_Square" (click)="clickSquare('clicked!')"></div>
            </td>
            <td>
                <div id="e8" class="Light_Square" (click)="clickSquare('clicked!')"></div>
            </td>
            <td>
                <div id="f8" class="Dark_Square" (click)="clickSquare('clicked!')"></div>
            </td>
            <td>
                <div id="g8" class="Light_Square" (click)="clickSquare('clicked!')"></div>
            </td>
            <td>
                <div id="h8" class="Dark_Square" (click)="clickSquare('clicked!')"></div>
            </td>
        </tr>
        <tr>
            <td>
                <div id="a7" class="Dark_Square" (click)="clickSquare('clicked!')"></div>
            </td>
            <td>
                <div id="b7" class="Light_Square" (click)="clickSquare('clicked!')"></div>
            </td>
            <td>
                <div id="c7" class="Dark_Square" (click)="clickSquare('clicked!')"></div>
            </td>
            <td>
                <div id="d7" class="Light_Square" (click)="clickSquare('clicked!')"></div>
            </td>
            <td>
                <div id="e7" class="Dark_Square" (click)="clickSquare('clicked!')"></div>
            </td>
            <td>
                <div id="f7" class="Light_Square" (click)="clickSquare('clicked!')"></div>
            </td>
            <td>
                <div id="g7" class="Dark_Square" (click)="clickSquare('clicked!')"></div>
            </td>
            <td>
                <div id="h7" class="Light_Square" (click)="clickSquare('clicked!')"></div>
            </td>
        </tr>
        <tr>
            <td>
                <div id="a6" class="Light_Square" (click)="clickSquare('clicked!')"></div>
            </td>
            <td>
                <div id="b6" class="Dark_Square" (click)="clickSquare('clicked!')"></div>
            </td>
            <td>
                <div id="c6" class="Light_Square" (click)="clickSquare('clicked!')"></div>
            </td>
            <td>
                <div id="d6" class="Dark_Square" (click)="clickSquare('clicked!')"></div>
            </td>
            <td>
                <div id="e6" class="Light_Square" (click)="clickSquare('clicked!')"></div>
            </td>
            <td>
                <div id="f6" class="Dark_Square" (click)="clickSquare('clicked!')"></div>
            </td>
            <td>
                <div id="g6" class="Light_Square" (click)="clickSquare('clicked!')"></div>
            </td>
            <td>
                <div id="h6" class="Dark_Square" (click)="clickSquare('clicked!')"></div>
            </td>
        </tr>
        <tr>
            <td>
                <div id="a5" class="Dark_Square" (click)="clickSquare('clicked!')"></div>
            </td>
            <td>
                <div id="b5" class="Light_Square" (click)="clickSquare('clicked!')"></div>
            </td>
            <td>
                <div id="c5" class="Dark_Square" (click)="clickSquare('clicked!')"></div>
            </td>
            <td>
                <div id="d5" class="Light_Square" (click)="clickSquare('clicked!')"></div>
            </td>
            <td>
                <div id="e5" class="Dark_Square" (click)="clickSquare('clicked!')"></div>
            </td>
            <td>
                <div id="f5" class="Light_Square" (click)="clickSquare('clicked!')"></div>
            </td>
            <td>
                <div id="g5" class="Dark_Square" (click)="clickSquare('clicked!')"></div>
            </td>
            <td>
                <div id="h5" class="Light_Square" (click)="clickSquare('clicked!')"></div>
            </td>
        </tr>
        <tr>
            <td>
                <div id="a4" class="Light_Square" (click)="clickSquare('clicked!')"></div>
            </td>
            <td>
                <div id="b4" class="Dark_Square" (click)="clickSquare('clicked!')"></div>
            </td>
            <td>
                <div id="c4" class="Light_Square" (click)="clickSquare('clicked!')"></div>
            </td>
            <td>
                <div id="d4" class="Dark_Square" (click)="clickSquare('clicked!')"></div>
            </td>
            <td>
                <div id="e4" class="Light_Square" (click)="clickSquare('clicked!')"></div>
            </td>
            <td>
                <div id="f4" class="Dark_Square" (click)="clickSquare('clicked!')"></div>
            </td>
            <td>
                <div id="g4" class="Light_Square" (click)="clickSquare('clicked!')"></div>
            </td>
            <td>
                <div id="h4" class="Dark_Square" (click)="clickSquare('clicked!')"></div>
            </td>
        </tr>
        <tr>
            <td>
                <div id="a3" class="Dark_Square" (click)="clickSquare('clicked!')"></div>
            </td>
            <td>
                <div id="b3" class="Light_Square" (click)="clickSquare('clicked!')"></div>
            </td>
            <td>
                <div id="c3" class="Dark_Square" (click)="clickSquare('clicked!')"></div>
            </td>
            <td>
                <div id="d3" class="Light_Square" (click)="clickSquare('clicked!')"></div>
            </td>
            <td>
                <div id="e3" class="Dark_Square" (click)="clickSquare('clicked!')"></div>
            </td>
            <td>
                <div id="f3" class="Light_Square" (click)="clickSquare('clicked!')"></div>
            </td>
            <td>
                <div id="g3" class="Dark_Square" (click)="clickSquare('clicked!')"></div>
            </td>
            <td>
                <div id="h3" class="Light_Square" (click)="clickSquare('clicked!')"></div>
            </td>
        </tr>
        <tr>
            <td>
                <div id="a2" class="Light_Square" (click)="clickSquare('clicked!')"></div>
            </td>
            <td>
                <div id="b2" class="Dark_Square" (click)="clickSquare('clicked!')"></div>
            </td>
            <td>
                <div id="c2" class="Light_Square" (click)="clickSquare('clicked!')"></div>
            </td>
            <td>
                <div id="d2" class="Dark_Square" (click)="clickSquare('clicked!')"></div>
            </td>
            <td>
                <div id="e2" class="Light_Square" (click)="clickSquare('clicked!')"></div>
            </td>
            <td>
                <div id="f2" class="Dark_Square" (click)="clickSquare('clicked!')"></div>
            </td>
            <td>
                <div id="g2" class="Light_Square" (click)="clickSquare('clicked!')"></div>
            </td>
            <td>
                <div id="h2" class="Dark_Square" (click)="clickSquare('clicked!')"></div>
            </td>
        </tr>
        <tr>
            <td>
                <div id="a1" class="Dark_Square" (click)="clickSquare('clicked!')"></div>
            </td>
            <td>
                <div id="b1" class="Light_Square" (click)="clickSquare('clicked!')"></div>
            </td>
            <td>
                <div id="c1" class="Dark_Square" (click)="clickSquare('clicked!')"></div>
            </td>
            <td>
                <div id="d1" class="Light_Square" (click)="clickSquare('clicked!')"></div>
            </td>
            <td>
                <div id="e1" class="Dark_Square" (click)="clickSquare('clicked!')"></div>
            </td>
            <td>
                <div id="f1" class="Light_Square" (click)="clickSquare('clicked!')"></div>
            </td>
            <td>
                <div id="g1" class="Dark_Square" (click)="clickSquare('clicked!')"></div>
            </td>
            <td>
                <div id="h1" class="Light_Square" (click)="clickSquare('clicked!')"></div>
            </td>
        </tr>
    </table>
</div>
