:root {
    --inline-start: 0rem;
    --block-start: 0rem;
}

.light-square,
.dark-square {
    inline-size: 10rem;
    block-size: 10rem;
}

table {
    border-spacing: 0;
}

table,
th,
td {
    border: none;

    img {
        block-size: 100%;
        inline-size: 100%;
    }
}

.light-square {
    background-color: hsl(300, 24%, 80%);
}

.dark-square {
    background-color: hsl(120, 100%, 25%);
}

//.dragging-piece {
//    inline-size: 10rem;
//    block-size: 10rem;
//    opacity: 0.5;
//    position: fixed;
//    inset-inline-start: var(--inline-start);
//    inset-block-start: var(--block-start);
//}
